<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <title>Error 404</title>
</head>
<style>

.error404 {
  background: linear-gradient(#21C08B, #8F57FD);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px30px;
  min-height: calc(100vh - 200px);
}

.error404-title {
  font-size: 100px;
  color: white;
  margin: 0;
  animation: pulse 2s ease-in-out infinite;
}

.error404-subtitle {
  font-size: 22px;
  font-weight: lighter;
  color: white;
}

</style>
<body>
    <header class="header">
        <img class="header__img" src="./images/logo-platzi-video-BW2.webp">
        <div class="header__menu">
            <div class="header__menu--profile">
                <img src="./images/user-icon.png" alt="user">
                <p>Perfil</p>
            </div>
            <ul>
                <li><a href="/">Cuenta</a></li>
                <li><a href="/">Cerrar Sesión</a></li>
            </ul>
        </div>
    </header>
</body>
</html>